* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100%;
  padding: 20px;
    /* justify-content: space-between;   */
}

.header {
  width: 100%;
  background: #2D2D2D;
  text-align: center;
  size: 40px;
  color: white;
  padding: 30px;
}

.input-component {
  justify-content: space-between;
  background: rgba(150, 135, 135, 0.27);
}

.half {
  flex: 4;
}

.five {
  flex: 1;
}
.wrap {
  flex-wrap: wrap;
}
.card {
  flex-direction: column;
  text-align: center;
  width: 24%;
  padding-left: 10px;
   border: 2px solid white; 
  margin-left: 10px;
  margin-bottom: 20px;
}

.card:hover {
  border: 2px solid olivedrab;
}

.card:hover .card__hidden {
  visibility: visible;
}

.image {
  border: 2px solid rgba(150, 135, 135, 0.27);
  border-radius: 50%;
}

.card__name {
  color: olivedrab;
}
.card__hidden {
  visibility: hidden;
}